<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('partial/header') %>
    <% if (user) { %>
    <h2>You are logged In</h2>
<% } else { %>
    <h2>You are not logged In</h2>
<% } %>


    <div class="url-container">

        <h1>URL Shotend</h1>
        <form action="/" method="post">
            <div>
                <label for="URL">Enter Url:</label>
                <input type="url" name="url" id="url" required>
            </div>
            <div>
                <label for="shortcode">Enter shortcode:</label>
                <input type="text" name="shortcode" id="shortcode" required>
            </div>
            <button type="submit">Shortend</button>
        </form>
        <h2>Shortend URLs</h2>
        <ul id="shortend-url">
            <% links.map(({ shortCode, url })=> { %>

                <% const truncatedUrl=url.length> 30
                    ? `${url.slice(0, 30)}...`
                    : url;
                    %>

                    <li>
                        <a href="/<%= shortCode %>" target="_blank">
                            <%= host %>/<%= shortCode %>
                        </a>
                        – <%= truncatedUrl %>
                    </li>

                    <% }) %>
        </ul>
    </div>
<%- include('partial/footer') %>
    <script>

    </script>
</body>

</html>